<!DOCTYPE html>
<html>
<body style="background-color: #d3d3d3; font-family: sans-serif">
  <h1 style="text-align: center">CODE TEST</h1>
  <article style="text-align: center">
    <%= page_info %>
  </article>
</body>
</html>
